/*For 4:3 provide size: 908px 681px;.*/
/*1210px 681px*/

/*@page {
  size: 908px 681px;
  margin: 0;
}*/

@page {
  size: 1210px 681px;
  margin: 0;
}

.nonum .remark-slide-number {
  display: none;
}

/*
.remark-slide-content {
  border-top: 80px solid #000000;
  background-color: #f4f4f4; 
}
*/

.clear{
  border-top: 0px solid #FAFAFA;
}

/*add title font*/
.titlestyle { 
  font-family: Lora; 
  font-size: 65px;
  font-style: normal;
  color: white;
  font-variant: normal; 
  font-weight: 700; 
  line-height: 90px; 
  background-color:black;
}

/*
.cover-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #23373B;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}
*/

.captionstyle {
  color:white;
  background-color:black;
  font-weight:bold
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* links font*/
a {
    font-weight: bold;
    color: #525941;
}

/* caption font*/
.caption {
	font-style: italic;
  color: #606090;
	font-size: 120%;
}

.lc {
  width: 30%;
  height: 92%;
  float: left;
}

.rc {
  width: 68%;
  float: right;
  height: 92%;
}

.lc2 {
  width: 70%;
  float: left;
  height: 92%;

}

.rc2 {
  width: 30%;
  height: 92%;
  float: right;
}

/* three-column layout */
.left3-column {
  width: 70%;
  height: 100%;
  float: left;
  text-align: center;
  margin: 0 auto;
}
.center3-column {
  width: 10%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
.right3-column {
  width: 30%;
  float: right;
  text-align: right;
  margin: 0 auto;
}
